{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="d-flex flex-row m-4 gap-2">

        <div class="d-flex flex-column m-4 gap-2">
            <h1 class="size-50">WorkTogether Data Solutions</h1>
            <p>WorkTogether Data Solutions est une entreprise spécialisée dans la gestion de datacenters de pointe. Forte de son expertise en matière de sécurité, de fiabilité et de durabilité, WorkTogether offre une gamme complète de services de gestion de datacenters aux entreprises du monde entier. Son objectif principal est de permettre à ses clients de se concentrer sur leur cœur de métier tout en garantissant la disponibilité, la performance et la sécurité de leurs infrastructures informatiques.</p>
        </div>

        <img src="{{ asset("images/workTogetherBat.webp") }}" class="w-50 h-auto" {#style="height: auto; width: auto"#}/>
    </div>
{% endblock %}
