{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}

    {% if app.user %}

        <div>
            <p>Tu es connecté !</p>
            {% for order in orders %}
                <p>{{ order.unitPrice }}</p>
            {% endfor %}
        </div>

    {% else %}

        <div>
            <p>Rien ici pour l'instant !</p>
        </div>

    {% endif %}

{% endblock %}